* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(230, 17%, 14%);
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.content {
  width: 1120px;
  margin: 0 auto;
}

.primary-cards {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
}

.primary-cards .card {
  width: 253px;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  background-color: hsl(228, 28%, 20%);
  margin-top: 50px;
  margin-bottom: 40px;
}

.primary-cards .card-user{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items:center;
}

.primary-cards div.card-user p{
  color:  hsl(228, 34%, 66%);
  font-size: 1.0em;
}

.primary-cards p.card-number{
  font-size: 3.0em;
  margin-top: 15px;
}

.primary-cards p.card-label{
  text-transform: uppercase;
  color: hsl(228, 34%, 66%);
  letter-spacing: 3px;
  font-weight: 350;
}

.primary-cards .service-facebook{
  border-top: solid 6px;
  border-color: hsl(208, 92%, 53%);
}

.primary-cards .service-twitter{
  border-top: solid 6px;
  border-color: hsl(203, 89%, 53%);
}

.primary-cards .service-instagram{
  border-top: solid 6px;
  border-image-source: linear-gradient(45deg, hsl(37, 97%, 70%) 50%,   hsl(329, 70%, 58%) 100%);
  border-image-slice: 1;
  border-radius: 10px;
}

.primary-cards .service-youtube{
  border-top: solid 6px;
  border-color: hsl(348, 97%, 39%);
}


.supporting-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-top: 20px;
}

.supporting-cards .card {
  width: 253px;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  background-color: hsl(228, 28%, 20%);
}

.supporting-cards .card-main{
  text-align: left;
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
}

.supporting-cards .card-number{
  font-size: 1.5em;
  
}

.supporting-cards .card-label{
  color: hsl(228, 34%, 66%);
  
}

.supporting-cards .card-metric{
  margin-left: 150px;
  margin-top: -20px;
  font-size: 12px;
}

.supporting-cards .card img{
  float: right;
}

.is-up{
  color: hsl(163, 72%, 41%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  margin-top: 12px;
}

.is-down{
  color: hsl(356, 69%, 56%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  margin-top: 12px;
}